<div class="container">
  <ul class="pager">
      <li class="prev-pager"><a href="#" name="previous" onclick="pager(this.name)">Previous</a></li>
      <li><a href="#" name="next" onclick="pager(this.name)">Next</a></li>
  </ul>
</div>
<!-- not enough time to make pager be disabled if no previous exists etc-->
