<div id="sort-filter" class="container" style="margin-top: 2%; background-color: #0C0C0C;">

  <div id="sort" class="row" style="margin-top: 2%; width: 90%; margin-left: auto; margin-right: auto;">

    <div class="col-sm-2">

      <div class="dropdown">

        <button class="btn-sort btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Name
        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li><div class="radio"><label><input type="radio" name="year_asc">ASC</label></div></li>
          <li><div class="radio"><label><input type="radio" name="year_des">DES</label></div></li>

        </ul>

      </div>

    </div>


    <div class="col-sm-2">

      <div class="dropdown">

        <button class="btn-sort btn-primary dropdown-toggle" type="button" data-toggle="dropdown">imdb
        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li><a href="#">All</a></li>
          <li><a href="#">9+</a></li>
          <li><a href="#">8+</a></li>
          <li><a href="#">7+</a></li>
          <li><a href="#">6+</a></li>
          <li><a href="#">5+</a></li>
          <li><a href="#">4+</a></li>
          <li><a href="#">3+</a></li>
          <li><a href="#">2+</a></li>
          <li><a href="#">1+</a></li>

        </ul>

      </div>

    </div>

    <div class="col-sm-2">

      <div class="dropdown">

        <button class="btn-sort btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Genre
        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li><a href="#">All</a></li>
          <li><a href="#">Action</a></li>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Animation</a></li>
          <li><a href="#">Biography</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Crime</a></li>
          <li><a href="#">Documentary</a></li>
          <li><a href="#">Drama</a></li>
          <li><a href="#">Famliy</a></li>
          <li><a href="#">Fantasy</a></li>
          <li><a href="#">Film-Noir</a></li>
          <li><a href="#">Game-Show</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Horror</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">Musical</a></li>
          <li><a href="#">Mystery</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Reality-TV</a></li>
          <li><a href="#">Romance</a></li>
          <li><a href="#">Sci-Fi</a></li>
          <li><a href="#">Sport</a></li>
          <li><a href="#">Talk-Show</a></li>
          <li><a href="#">Thriller</a></li>
          <li><a href="#">War</a></li>
          <li><a href="#">Western</a></li>

        </ul>

      </div>

    </div>


    <div class="col-sm-2">

      <div class="dropdown">

        <button class="btn-sort btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Year
        <span class="caret"></span></button>

        <ul class="dropdown-menu">

          <li><a href="#">Year ASC</a></li>
          <li><a href="#">Year DES</a></li>

        </ul>

      </div>

    </div>

  </div>

</div>
