{% extends 'app.twig' %}

{% block content %}

<div class="container-fluid">

  <div align="center" class="embed-responsive embed-responsive-16by9">
      <video autoplay loop class="embed-responsive-item">
          <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
      </video>
  </div>
  {% include 'render/comments.twig' %}
</div>
{% endblock %}
