{% extends 'app.twig' %}

{% block content %}

<div class="container-fluid">

  <div align="center" class="embed-responsive embed-responsive-16by9">
      <video data-dashjs-player autoplay class="embed-responsive-item" src="{{ base_url() }}/movies/Alive.mkv" controls></video>
  </div><br><br>
  {% include 'render/movie-info.twig' %}
  {% include 'render/comments.twig' %}
</div>

{% endblock %}
