{% extends 'app.twig' %}

{% block content %}

<div class="container-fluid">

  <div align="center" class="embed-responsive embed-responsive-16by9">
      <video autoplay loop class="embed-responsive-item">
          <source src="https://www.youtube.com/embed/SpXw0qiy3Wo" type="video/mp4">
      </video>
  </div>
  {% include 'render/comments.twig' %}
</div>

{% endblock %}
